.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock

build/
.idea/
example/android/.project
example/android/.settings/org.eclipse.buildship.core.prefs
android/.settings/org.eclipse.buildship.core.prefs
android/.classpath
android/.project
example/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
example/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
example/ios/Runner.xcodeproj/project.pbxproj
example/android/app/.settings/org.eclipse.buildship.core.prefs
example/android/app/.classpath
example/android/app/.project
